<section id="search" class="search-wrap my-5 container" >
    <form action="/search" class="search-form ">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="Search For Your Book">
      <input type="submit" value="Search">
      
      <select name="sort" id="sort" style="background-color: #F0F0F0;">
        <option >Sort By Name</option>
        <option>Sort By Pages</option>
        </optgroup>
       
      </select>
    </form>
  </section>