{{>header}}
{{>navbar}}
<section class="my-5 container">
    <form action="/addLogic">
        <div class="mb-3">
            <input class="form-control" name="title" placeholder="title">
        </div>
        <div class="mb-3">
            <input class="form-control" name="Author" placeholder="Author">
        </div>
        <div class="mb-3">
            <input class="form-control" name="section" placeholder="section" type="number">
        </div>
        <div class="mb-3">
            <input class="form-control" name="numberpages" placeholder="no.of pages" type="number">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Add Book</button>
        </div>
    </form>
</section>
{{>footer}}